<table>
  <tr>
    <th>Gizmo type</th>
    <th>Unit price cents</th>
    <th>System</th>
    <th>Description</th>
  </tr>

<% for store_pricing in @store_pricings %>
  <tr>
    <td><%=h store_pricing.gizmo_type_id %></td>
    <td><%=h store_pricing.unit_price_cents %></td>
    <td><%=h store_pricing.system_id %></td>
    <td><%=h store_pricing.description %></td>
    <td><%= link_to 'Show', {:action => "show", :id => store_pricing.id} %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => store_pricing.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => store_pricing.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
