<h1>Editing store pricing</h1>

<%= render :partial => 'transaction/messages' %>

Barcode: <%= @store_pricing.barcode %><br />

<%= barcode(@store_pricing.barcode) %>

<% form_for(@store_pricing, :url => {:action => "update", :id => @store_pricing.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', {:action => "index"} %>
