<h2>Editing <%= @model_human %> #<%= @admin.id %></h2>

<% admin_form_for(@admin, :url => {:action => "update", :id => @admin.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>


<% other = (@model.reflect_on_all_associations(:has_many) + @model.reflect_on_all_associations(:has_one)).map{|x| x.name} %>
<% if other.length > 0 %>
Not included here: <%= other.map{|x| x.to_s.humanize}.to_sentence %><br >
<% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= admin_link_to 'Show', {:action => "show", :id => @admin.id} %> |
<%= admin_link_to 'Back', {:action => "index"} %>
