<h2><%= @model_human %> #<%= @admin.id %></h2>

<p style="color: green"><%= flash[:notice] %></p>

<p style="color: red"><%= flash[:error] %></p>

<% associations = @model.associations %>

<table class="awesome">
<% @admin.class.visible_columns.each do |x| %>
  <tr>
  <th><%= x.to_s.humanize %> (<%= mytype = get_column_type(x) %>):</th>
  <td>
  <% if associations[x] %>
    <% myid = @admin.send(x); o = myid ? associations[x].find(myid) : nil %>
    <% if myid %><%= link_to(associations[x].to_s + " " + "#" + myid.to_s, {:action => "show", :id => myid, :model => o.class.table_name}) %><% if ! o.to_s.match(/^#/) %>: <%= o.to_s %><% end %><% else %><%= associations[x].to_s %> NULL<% end %><br />
  <% else %>
  <%= @admin.send(x) %><br />
  <% end %></td>
  </tr>
<% end %>
<% @model.reflect_on_all_associations(:has_and_belongs_to_many).each do |x| %>
  <tr><th><%= x.name.to_s.humanize %></th>
    <td>
      <%= @admin.send(x.name.to_s).map(&:to_s).to_sentence %>
    </td>
  </tr>
<% end %>
</table>

<% other = (@model.reflect_on_all_associations(:has_many) + @model.reflect_on_all_associations(:has_one)).map{|x| x.name} %>
<% if other.length > 0 %>
Not shown here: <%= other.to_sentence %><br >
<% end %>

<%= admin_link_to 'Edit', {:action => "edit", :id => @admin.id} %> |
<%= admin_link_to 'Back', {:action => "index"} %>
