<tr><th>Copy #</th><th>Barcode</th><th>Status</th><% if has_role?("LIBRARIAN") %><th></th><% end %></tr>
<% @some_copies.each do |copy| %>
  <tr>
    <td>
      <%= copy.copy_id %>
    </td>
    <td>
      <%= copy.barcode %>
    </td>
    <td>
      <%= link_for_my_links(copy.long_status) %>
    </td>
    <% if has_role?("LIBRARIAN") %>
      <td>
        <%= link_to "History/Circulation", :action => "show_copy", :copy_id => copy.id %>
        <%= link_to "Label", :action => "add_to_labels", :id => copy.id %>
      </td>
    <% end %>
  </tr>
<% end %>
