<h2>Overdue list</h2>
<% if @overdue.length > 0 %>
<table border="1" style="border-collapse: collapse;">
  <tr>
    <th>Barcode</th>
    <th>Title</th>
    <th>Author</th>
    <th>Checked out to</th>
    <th>Overdue for</th>
    <th>Checked out since</th>
    <th>Renewed</th>
  </tr>
<% @overdue.each do |c| %>
  <tr>
    <td><%= link_to c.barcode, :action => "show_copy", :id => c.id %></td>
    <td><%= c.book.title %></td>
    <td><%= c.book.author %></td>
    <td><%= link_for_my_links(c.last_event.contact_display_with_link) %></td>
    <td><%= c.overdue_for %></td>
    <td><%= c.checked_out_at %></td>
    <td><%= c.times_renewed %></td>
  </tr>
<% end %>
</table>
<% else %>
None.
<% end %>
