<div class="noblock">
  <% @obj = object %>
  <% data_method = @obj.class == Book ? "book" : "marc" %>
  <% if data_method == "book" %>
    Found existing book with ISBN #<%= @obj.isbn %><br />
  <% else %><%# marc %>
    Got information from the Library of Congress database<br />
  <% end %>
  <% form_for @obj, :url => "nowheresville" do |f| %>
  <%= render :partial => "book_form", :locals => {:f => f} %>
<% end %>
<% @blah = OpenStruct.new %>
  <% if data_method == "book" %>
    <% action = "redirect_to_show_book" %>
    <% @blah.book_id = @obj.id %>
  <% else %><%# marc %>
    <% action = "create_from_marc" %>
    <% @blah.marc = @obj.to_s %>
  <% end %>
  <% form_for @blah, :url => {:action => action} do |f| %>
  <% if data_method == "book" %>
    <%= f.hidden_field "book_id" %>
  <% else %><%# marc %>
    <%= f.hidden_field "marc" %>
  <% end %>
  <%= submit_tag 'Go' %>
<% end %>
</div>
<%= javascript_tag "if($$('.edit_zoom_helper_marc').length > 0) $$('.edit_zoom_helper_marc').first().disable()" %>
<%= javascript_tag "if($$('.edit_book').length > 0) $$('.edit_book').first().disable()" %>
