<h1><%= sprintf("%s (Copy #%s, Barcode #%s)", @c.book.title, @c.copy_id, @c.barcode) %></h1>
<h2>Status</h2>
<%= @c.long_status  %><br />
<%= link_to "book info", :action => "show_book", :id => @c.book.id %>
<% if has_role?("LIBRARIAN") %>
<h2>Circulation</h2>
<% if @c.checked_in? %>
<div class="noblock">
<% form_for :checkout, :url => {:action => "checkout"} do |f| %>
<%= f.hidden_field :copy_id, :value => @c.id %>
<%= f.label :contact_id, "Check out to:" %>
<%= contact_field :checkout, :contact_id, :locals => {:options => {:show_label => false}} %>
<%= f.submit "Checkout" %>
<% end %>
</div>
<% end %>
<% if @c.checked_out? %>
<%= button_to "Renew", :action => "renew", :copy_id => @c.id %>
<%= button_to "Check in", :action => "checkin", :copy_id => @c.id %>
<% end %>
<%= button_to "Label", :action => "add_to_labels", :id => @c.id %>
<h2>History</h2>
<p>
<table border="1" style="border-collapse: collapse;">
  <tr>
    <th>Action</th>
    <th>Contact</th>
    <th>Date</th>
    <th>Due Back</th>
    <th>Librarian</th>
  </tr>
  <% @c.library_events.to_a.reverse.each do |event| %>
    <tr>
      <td><%= event.kind_to_s %></td>
      <td><%= event.contact_display %></td>
      <td><%= event.date.strftime("%D") %></td>
      <td><%= event.due_back ? event.due_back.strftime("%D") : "" %></td>
      <td><%= event.librarian_display %></td>
    </tr>
  <% end %>
</table>
</p>
<% end %>
