<% @gizmo_return = gizmo_return %>
<fieldset>
  <div class="row">
    <!--[form:sale]-->
    <div id="transaction_info">
      <div id="<%= contact_searchbox_id(@options) %>">
        <label for="donation_contact_type">What kind of contact?</label>
        <%= select_visibility( 'gizmo_return', 'contact_type',
                               :anonymous => render( :partial => 'anonymous' ),
                               :named => render( :partial => 'contact_search'
                                                 )
                               ) %>
      </div>

      <div class="form-extras">
        <div class="form-element">
          <label for="gizmo_return_comments">Comments</label>
          <%= text_area 'gizmo_return', 'comments' , {:cols => 20, :rows => 3, :class=>"text-input"} %>
        </div>
      </div>
    </div>

    <div id="transaction_line_items_div">
      <div id="gizmo_return_gizmos" class="datalist line_item">
        <%= render :partial => 'gizmo_events' %>
      </div>

      <%= render :partial => 'gizmo_return_totals' %>

      <%= javascript_tag @gizmos_and_payments_js %>

        <div class="form-element" style="display: Anone; float: right; clear: right;">
          <br />
          <label for="gizmo_return_payment_method_id">Modify Refund Type</label>
          <select id="gizmo_return_payment_method_id" name="gizmo_return[payment_method_id]" onChange="var pmid = $('gizmo_return_payment_method_id').value; if(pmid == '') { $('store_credit_name').innerHTML = 'Store Credit:'; } else { var payment = get_name_of_selected('gizmo_return_payment_method_id'); $('store_credit_name').innerHTML = payment.toUpperCase() + ' Refund:'; }">
            <%= sc = PaymentMethod.find_by_name("store_credit"); sc.id = nil; options_from_collection_for_select([sc, PaymentMethod.cash, PaymentMethod.credit], "id", "description", @gizmo_return.payment_method_id) %>
          </select>
        </div>
    </div>

    <!--[eoform:sale]-->

  </div>
</fieldset>
