<% if @invoice.id %>

<div class="noprint">
<%= link_to 'Back', {:action => "index"} %>
</div>
<div class="noprint">
<% if @error || @error = params[:error] %>
<span class="error"><%= @error %><br /><br /></span>
<% end %>
<% if @data %>
<INPUT type="button" id="print_button" value="Print"
       onclick="window.print();" >
<%= render :partial => "tech_support_notes/ts_notes", :locals => {:name => @data["Name"]} %>
</div>

<%= render :partial => 'workorder', :locals => {:data => @data, :system => @system} %>
<% end %>

<% else %>

<% @transaction_type = "donation" %>
<% @donation = @invoice %>

  <% if current_user.shared %>
  <p>
    <%= f.label :pin, "PIN" %>
    <%= f.password_field :pin %>
  </p>
  <% end %>

      <div id="<%= contact_searchbox_id(@options) %>">
        <label for="donation_contact_type">What kind of contact?</label>
        <%= select_visibility( 'donation', 'contact_type',
                               :anonymous => render( :partial => 'donations/anonymous' ),
                               :named => render( :partial => 'donations/contact_search')) %>
      </div>

<% end %>
