<% if @results %>
  <h1>Monthly Report Metrics for <%= @target.target.strftime("%B") %>, <%= @target.target.year%></h1>
<% else %>
  <h1>Monthly Report Metrics</h1>
<% end %>

Quick links for last month's report by department:<br />
<% @departments.each do |x| %>
<%= link_to x.gsub(/-/, " ").humanize, {:id => x, :target => {:target_month => (Date.today - 1.month).month, :target_year => (Date.today - 1.month).year}} %><br />
<% end %>
<br />
<% field_name = "target" %>
<% obj_name = "target" %>
<% obj = @target %>

<% form_tag '', :method => "GET" do  %>
<%= select_month(@target.target, :field_name => field_name + '_month', :prefix => obj_name) +  select_year(@target.target, :prefix => obj_name, :field_name => field_name + '_year', :start_year => 2000, :end_year => Date.today.year) %>
<%= select_tag 'id', options_for_select(@departments.collect{ |u| [u.gsub(/-/, " ").humanize, u] }, :selected => params[:id]) %>
<%= submit_tag "Run Monthly Report Metrics" %>

<% end %>

<% if @results %>
<% if @mode  == 'public-services' %>
<h2>Public Services:</h2>
<h3>Education</h3>

<% attendance_type_keys = AttendanceType.all.map(&:name).sort %>
<%= (render :partial => "volskedj_sum", :locals => {:result => @volskedj, :attendance_type_keys => attendance_type_keys}).gsub("Roster Name", "Classtype").gsub("# arrived", "*A").gsub("# cancelled", "*C").gsub("# no call no show", "*NC/NS").gsub("# not checked in", "*NCI").gsub("# tardy", "*TA").gsub("# total", "*T").gsub("Total hours", "*TH").gsub("Command Line",  "CL").gsub("# wrong time", "*WT").gsub("Getting Started Classes", "GSC").gsub("Monthly Classes", "MC") %>
CL= Command Line; GSC=Getting Started classes; MC=Monthly classes <br />
*A (Arrived)=Checked in for class  <br />
*C (Cancelled)=Called to cancel prior to the class.  This may or may not have happened with enough  <br />
time to include another student in that slot.  <br />
*NC/NS (No Call/No Show)=Did not call in to cancel the class, and did not show up.  <br />
*NCI (Not checked in)=Did not check in for the class at the front desk (may still have taken the class).  <br />
*TA (Tardy)=Late arrival  <br />
*WT (Wrong Time)=Arrived at the wrong time <br />
*T (Total)=Total  <br />
*TH (Total hours)=Total # of hours students attended classes  <br />

<h3>HWG</h3>

<%= make_table(@disburse_table) %>

<h3>TS</h3>

<%= make_table([@ts_head, @ts_vol, @ts_staff]) %>

<h3>Vol</h3>

Active Volunteers:<br />
<%= @target.target.strftime("%B") %> <%= @target.target.year - 1 %>: <%= @last_active %><br />
<%= @target.target.strftime("%B") %> <%= @target.target.year %>: <%= @active %><br />
<%= (100 * @active.to_f / @last_active.to_f).round %>% change<br /><br />

TODO

<h3>DD</h3>

<%= @target.target.strftime("%B") %> <%= @target.target.year - 1 %> (and percentage change from prior year)<br />
Total transactions: <%= @dd_last_suggested_count %><br />
Suggested donations register total: $<%= @dd_last_suggested %><br />
<%= @target.target.strftime("%B") %> <%= @target.target.year %><br />
Total transactions: <%= @dd_suggested_count %> (<%= (100 * @dd_suggested_count/@dd_last_suggested_count).round %>%)<br />
Suggested donations register total: $<%= @dd_suggested %> (<%= (100 * @dd_suggested/@dd_last_suggested).round %>%)<br />

TODO

<h3>Sales</h3>

<%= make_table([["", @target.target_month.to_s + "/" + @target.target_year.to_s, @target.target_month.to_s + "/" + (@target.target.year-1).to_s, "% change"], ["total sales", "$" + @ts.to_s,"$" + @ts_last_year.to_s, (100*@ts/@ts_last_year).round.to_s + "%"]]) %>

<h3>Bulk Sales</h3>

Income total $<%= @bulk %>

<% elsif @mode  == 'production' %>

<h2>Production:</h2>
TODO
<h3>Laptop</h3>
<% thismonth = @target.target.strftime("%B") + " " + @target.target.year.to_s %>
<% lastyear = @target.target.strftime("%B") + " " + (@target.target.year-1).to_s %>

<%= make_table([["Total laptop sales for #{thismonth}", @sale_laptops],
["Total laptop sales for #{lastyear}", @sale_laptops_lastyear],
["Amount of laptops sold in #{thismonth}", @sales_laptop_count],
["Amount of laptops sold in #{lastyear}", @sales_laptop_count_lastyear],
["Amount of laptops granted in #{thismonth}", @laptops_granted],
["Amount of laptops granted in #{lastyear}", @laptops_granted_lastyear],
["Average price per laptop for #{thismonth}", @laptop_price],
["Average price per laptop for #{lastyear}", @laptop_price_lastyear]
]    ) %>

<h3>Desktop</h3>

<%= make_table([["Total desktop sales for #{thismonth}", @sale_systems],
["Total desktop sales for #{lastyear}", @sale_systems_lastyear],
["Amount of desktops sold in #{thismonth}", @sales_system_count],
["Amount of desktops sold in #{lastyear}", @sales_system_count_lastyear],
["Amount of desktops granted in #{thismonth}", @systems_granted],
["Amount of desktops granted in #{lastyear}", @systems_granted_lastyear],
["Average price per desktop for #{thismonth}", @system_price],
["Average price per desktop for #{lastyear}", @system_price_lastyear]
]    ) %>

<h3>Mobile Devices</h3>
<h3>A/V</h3>
<h3>Mac</h3>

<% elsif @mode  == 'operations' %>

<h2>Operations:</h2>
<h3>Receiving</h3>

Donations in numbers:<br />
<% one= @donations_thisyear %>
<% two= @donations_lastyear %>
<% d = @target.target
t=[d - 2.months, d - 1.months, d]
a = [["Month", "Donor Contacts (#{(t.first - 1.year).year.to_s} numbers)", "Gizmo Count"]]
t.each do |x|
   a << [x.strftime("%B") + " " + x.year.to_s, one.shift.to_s + " (" + two.shift.to_s + ")", @gizmos_thisyear.shift]
end %>

<%= make_table(a) %>

<% end %>

<% end %>
