<% if @results %>
  <h1>Monthly Report Metrics for <%= @target.target.strftime("%B") %>, <%= @target.target.year%></h1>
<% else %>
  <h1>Monthly Report Metrics</h1>
<% end %>

<% field_name = "target" %>
<% obj_name = "target" %>
<% obj = @target %>

<% form_tag  do  %>
<%= select_month(@target.target, :field_name => field_name + '_month', :prefix => obj_name) +  select_year(@target.target, :prefix => obj_name, :field_name => field_name + '_year', :start_year => 2000, :end_year => Date.today.year) %>
<%= submit_tag "Run Monthly Report Metrics" %>

<% end %>

<% if @results %>
<h2>Public Services:</h2>
<h3>Education</h3>

<% attendance_type_keys = AttendanceType.all.map(&:name).sort %>
<%= (render :partial => "volskedj_sum", :locals => {:result => @volskedj, :attendance_type_keys => attendance_type_keys}).gsub("Roster Name", "Classtype").gsub("# arrived", "*A").gsub("# cancelled", "*C").gsub("# no call no show", "*NC/NS").gsub("# not checked in", "*NCI").gsub("# tardy", "*TA").gsub("# total", "*T").gsub("Total hours", "*TH").gsub("Command Line",  "CL").gsub("# wrong time", "*WT").gsub("Getting Started Classes", "GSC").gsub("Monthly Classes", "MC") %>
CL= Command Line; GSC=Getting Started classes; MC=Monthly classes <br />
*A (Arrived)=Checked in for class  <br />
*C (Cancelled)=Called to cancel prior to the class.  This may or may not have happened with enough  <br />
time to include another student in that slot.  <br />
*NC/NS (No Call/No Show)=Did not call in to cancel the class, and did not show up.  <br />
*NCI (Not checked in)=Did not check in for the class at the front desk (may still have taken the class).  <br />
*TA (Tardy)=Late arrival  <br />
*WT (Wrong Time)=Arrived at the wrong time <br />
*T (Total)=Total  <br />
*TH (Total hours)=Total # of hours students attended classes  <br />

<h3>HWG</h3>

<%= make_table(@disburse_table) %>

<h3>TS</h3>

TODO

<h3>Vol</h3>

Active Volunteers:
<%= @target.target.strftime("%B") %> <%= @target.target.year - 1 %>: <%= @last_active %><br />
<%= @target.target.strftime("%B") %> <%= @target.target.year %>: <%= @active %><br />
<%= (100 * @active.to_f / @last_active.to_f).round %>% change<br /><br />

TODO

<h3>DD</h3>

<%= @target.target.strftime("%B") %> <%= @target.target.year - 1 %> (and percentage change from prior year)<br />
Total transactions: <%= @dd_last_suggested_count %><br />
Suggested donations register total: $<%= @dd_last_suggested %><br />
<%= @target.target.strftime("%B") %> <%= @target.target.year %><br />
Total transactions: <%= @dd_suggested_count %> (<%= (100 * @dd_suggested_count/@dd_last_suggested_count).round %>%)<br />
Suggested donations register total: $<%= @dd_suggested %> (<%= (100 * @dd_suggested/@dd_last_suggested).round %>%)<br />

TODO

<h3>Sales</h3>

<%= make_table([["", @target.target_month.to_s + "/" + @target.target_year.to_s, @target.target_month.to_s + "/" + (@target.target.year-1).to_s, "% change"], ["total sales", "$" + @ts.to_s,"$" + @ts_last_year.to_s, (100*@ts/@ts_last_year).round.to_s + "%"]]) %>

<h3>Bulk Sales</h3>

Income total $<%= @bulk %>

<h2>Production:</h2>
TODO
<h3>Laptop</h3>
<h3>Desktop</h3>
<h3>Phone</h3>
<h3>A/V</h3>
<h3>Mac</h3>

<h2>Operations:</h2>
TODO
<h3>Receiving</h3>
<% end %>
